{% extends 'base.html' %}
{% block title %}
    {{ owner_username }}님의 방명록 수정
{% endblock %}
{% block name %}
    {{ owner_username }}님의 방명록 수정
{% endblock %}
{% block content %}

    <h2 class="guest_title">방명록 수정</h2>
    <div class="right_txt_box margin_zero_auto">
        <form method="POST" action="{% url 'edit' guestbook.id %}">
            {% csrf_token %}
            <div class="text_box">
                <label for="my-content"></label>
                <textarea id="my-content" name="my-content" required></textarea>
            </div><!-- e:text_box -->
            <button class="btn btn-outline-info" type="submit">수정</button>
        </form>
    </div><!-- e:right_txt_box -->

{% endblock %}
