{% extends 'base.html' %}

{% block title %}
    {{ owner_username }}님의 방명록
{% endblock %}
{% block name %}
    {{ owner_username }}님의 방명록
{% endblock %}

{% block content %}
  <h2>{{ request.user.nickname }}님의 방명록</h2>
  {% if user.is_authenticated %}
    <form method="POST" action="{% url 'guestbook' %}">
      {% csrf_token %}
      <div>
        <label for="my-content"></label>
        <textarea id="my-content" name="my-content" required></textarea>
      </div>
      <button type="submit">작성</button>
    </form>

    <hr>

    {% for entry in guestbook %}
      <div class="entry">
        <div class="author">{{ entry.author_nickname }}</div>
        <div class="content">{{ entry.content }}</div>
        <div class="created_at">{{ entry.created_at }}</div>
        {% if entry.author == request.user %}
          <a href="{% url 'edit' entry.id %}">수정</a>
          <a href="{% url 'delete' entry.id %}">삭제</a>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>로그인 후 방명록을 작성하실 수 있습니다.</p>
    <a href="{% url 'login' %}">로그인</a>
  {% endif %}
{% endblock %}
