<h2>{{ request.user.nickname }}님의 방명록</h2>
<div class="gb_box">
    <div class="left_img">
        <img src="#" alt="이미지넣어주세요~">
    </div><!-- e:left_img -->
    <div class="right_txt_box">
        <form method="POST" action="{% url 'guestbook' %}">
            {% csrf_token %}
            <div>
                <label for="my-content"></label>
                <textarea id="my-content" name="my-content" required></textarea>
            </div>
            <button type="submit">작성</button>
        </form>
    </div><!-- e:right_txt_box -->
</div><!-- e:gb_box -->