{% extends 'base.html' %}

{% block title %}
    다이어리 수정
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        {% if tweet.author == user %}
                            <div class="media-body">
                                <form action="/tweet/update/{{ tweet.id }}" method="post">
                                    {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="title" class="form-label">제목</label>
                                            <input type="text" class="form-control" id="title" name='title' value="{{ tweet.title }}">
                                            <div id="titleHelp" class="form-text">다이어리를 꾸며주세요</div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <input class="form-control" style="resize: none" name='my-content'
                                                        id="my-content" value="{{ tweet.content }}"></input>
                                        </div>
                                        <hr>
                                        {% if error %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endif %}
                                    <button type="submit" class="btn btn-info" style="float:right;">수정하기</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}