{% extends 'base.html' %}

{% block title %}
    다이어리
{% endblock %}

{% block name %}
    다이어리
{% endblock %}

{% block content %}
    <!-- 작성 된 글이 나오는 곳 -->
    <div class="row">
        <div class="d-grid gap-2">
            <a href="/tweet/" class="btn btn-primary btn-lg write_btn" type="button" style="margin-bottom: 15px;">다이어리 작성하기</a>
        </div>
        {% for tw in tweet %}
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="media-body">
                            <a href="/tweet/{{ tw.id }}" style="text-decoration: none;">
                            <h3 class="mt-0">{{ tw.title }}</h3>
                            </a>
                            <h5 class="mt-0" style="text-align: right;">{{ tw.author.nickname }}</h5>
                            </br>
                        </div>
                        <div style="text-align: right; margin-top:10px">
                            <a href="/tweet/{{ tw.id }}">
                                <span class="btn btn-outline-info">보기</span>
                            </a>
                        </div>
                        <div class="media">
                            <div style="text-align: right">
                                <span style="font-size: small">{{ tw.created_at|timesince }} 전</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}