{% extends 'base.html' %}

{% block title %}
    다이어리
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="media-bod">
                            <h3 class="mt-0">{{ tweet.title }}</h3>
                            <h5 class="mt-0">{{ tweet.content }}</h5>
                        </div>
                        {% if tweet.author == user %}
                            <div style="text-align: right">
                                <a href="/tweet/edit/{{ tweet.id }}">
                                    <span class="btn btn-info">수정</span>
                                </a>
                            </div>
                            <div style="text-align: right">
                                <a href="/tweet/delete/{{ tweet.id }}">
                                    <span class="btn bg-danger" style="margin-top:10px">삭제</span>
                                </a>
                            </div>
                        {% endif %}
                        <div style="text-align: right">
                            <span style="font-size: small">{{ tweet.author.nickname }}-{{ tweet.created_at|timesince }} 전</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 글 작성 하는 곳 -->
    <form class="input-group mb-3" action="/tweet/comment/{{ tweet.id }}" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" id='comment' name='comment' placeholder="댓글을 작성 해 주세요"/>
        <button class="btn btn-outline-secondary" type="submit">작성</button>
    </form>
    <hr>
    <!-- 반복문이 들어 갈 곳 -->
    {% for cm in comment %}
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0"> {{ cm.comment }} </h5>
                        <span> {{ cm.author }} </span>
                        <span> - {{ cm.created_at | timesince }} 전</span>
                    </div>
                    {% if cm.author == user %}
                        <div style="float: right" class="detail_delete">
                            <a href="/tweet/comment/delete/{{ cm.id }}">
                                <span class="btn bg-danger">삭제</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}