{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block name %}
    Home
{% endblock %}

{% block content %}
<div class="top_title">
                                <p>username의 미니룸</p>
                            </div>
                            <div class="mini">
                            <img src="{% static "img/miniroom.png" %}">
                            </div><!-- e:mini -->
                            <div class="ilchon_title">
                                <p>다이어리 모아보기</p>
                            </div>
                            <div class="ilchon">
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                                <p>게시판글을 붙이자</p>
                            </div><!-- e:ilchon -->
{% endblock %}