{% extends 'base.html' %}
{% load static %}
{% block title %}
    일촌 (공사중)
{% endblock %}

{% block name %}
    일촌 (공사중)
{% endblock %}

{% block content %}
    <div id="anima">
        <h3 class="h3_title">정지.정지.정지.<br>공사중입니다..........</h3>
        <h3 class="h3_title">모든 아바타를 멈추면 다음 페이지가 나옵니다.</h3>
        <div class="step">
            <div class="stepbox"></div><!-- e:stepbox -->
            <div class="stepbox s1"></div><!-- e:stepbox1 -->
            <div class="stepbox s2"></div><!-- e:stepbox2 -->
            <div class="stepbox s3"></div><!-- e:stepbox3 -->
            <div class="stepbox s4"></div><!-- e:stepbox4 -->
        </div><!-- e:step -->
    <h3 class="h3_hide">못멈춥니다.....ㅎㅎㅎㅎㅎ</h3>
    </div><!-- e:anima -->
{% endblock %}